@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

body{
    background: #000237;
    font-family: 'Irish Grover', system-ui;
}

.box{
    width: 209px;
    height: 209px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;

    justify-content: center;
    align-items: center;
    text-align: center;

    color: #000;
    font-family: "Irish Grover";
    font-size: 30px;
}

#tablero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 50px 80px 50px
}

#currentNum{
    font-size: 50px;
}

#mainButton{
    width: 263px;
    height: 80px;
    flex-shrink: 0;

    border-radius: 20px;
    background: #83FFCB;

    color: #000;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#gameSpace {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 100px 0 50px;

    align-items: center; 
    justify-content: center;
    text-align: center;
}

.movementB{
    width: 76px;
    height: 99px;
    flex-shrink: 0;
    fill: #9A9FFF;
    margin-right: 20px;
    margin-left: 20px;
}

#currentPlayer{
    width: 145px;
    height: 33px;
    flex-shrink: 0;

    color: #9A9FFF;
    font-family: "Irish Grover";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#cardSpace{
    width: 327px;
    height: 327px;
    flex-shrink: 0;

    border-radius: 20px;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para la tabla de bingo */
.bingo-table {
    width: 100%;
    border-collapse: collapse;
}

.bingo-table td {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    text-align: center;
}

.mark {
    background-color: red;
    color: white;
}

#results{
    width: 411px;
    height: 403px;
    flex-shrink: 0;

    border-radius: 40px;
    background: #FFF;

    color: #000;
    font-family: "Irish Grover";
    font-size: 20px;
    font-style: normal;
    font-weight: 250;
    line-height: normal;
    text-align: center;

    margin: 0 auto;
}

#resultsTitle{
    text-align: center;
    color: #444BFF;
    font-family: "Irish Grover";
    font-size: 60px;
    font-style: normal;
    font-weight: 150;
    line-height: normal;
}

#reset{
    width: 263px;
    height: 80px;
    flex-shrink: 0;

    border-radius: 20px;
    background: #83FFCB;

    color: #000;
    font-size: 30px;
    font-weight: 400;
    margin: 0 auto;
    margin-top: 30px;
}

#winner{
    color: #000677;
    font-family: "Irish Grover";
    font-size: 25px;
    margin-top: 10px;
}

/* RESPONSIVE */
/* Telefono SmarthPhone Android Large ---> 300px x 800px*/
@media (min-width: 300px) and (max-width: 1439px){
    .box{
        width: 79.062px;
        height: 79.062px;
        font-size: 8px;
        margin-right: 10px;
    }

    #numTurn{
        font-size: 18px;
    }

    #currentNum{
        font-size: 20px;
    }

    #mainButton{
        width: 99.489px;
        height: 30.263px;
        font-size: 18.914px;
    }

    .movementB{
        width: 40px;
        height: 35px;
    }

    #gameSpace{
        position: relative;
    }

    #currentPlayer{
        width: 80px;
        height: 17px;
        font-size: 15px;
        margin-bottom: 300px;

        position: absolute;
        top: 0;
        z-index: 1;
    }

    #cardSpace{
        width: 190px;
        height: 190px;
        margin-top: 50px;
    }

    #results{
        width: 177px;
        height: 250px;
        font-size: 12px;
    }

    #resultsTitle{
        font-size: 20px;
    }

    #reset{
        width: 113.33px;
        height: 34.473px;
        font-size: 12.927px;
    }

    #winner{
        font-size: 20px;
        color: #170064;
        margin-top: 10px;
    }
}

/* Tablet ¡Pad Pro 11" 830px x 1190px*/ 
@media (min-width: 830px) and (max-width: 1439px){
    .box{
        width: 152px;
        height: 152px;
        font-size: 22px;
    }

    #numTurn{
        font-size: 30px;
    }

    #currentNum{
        font-size: 40px;
    }

    #mainButton{
        width: 191.273px;
        height: 58.182px;
        font-size: 36.364px;
    }

    .movementB{
        width: 113.5px;
        height: 100.106px;
    }

    #currentPlayer{
        width: 145px;
        height: 33px;
        font-size: 30px;
        margin-bottom: 20px;
    }

    #cardSpace{
        width: 327px;
        height: 327px;
        margin-top: 10px;
    }

    #results{
        width: 291.329px;
        height: 285.658px;
        font-size: 18px;
    }

    #resultsTitle{
        font-size: 35px;
    }

    #reset{
        width: 186.422px;
        height: 56.706px;
        font-size: 21.265px;
    }
    #winner{
        font-size: 30px;
        color: #00f7ff;
        margin-top: 15px;
    }
}